@import "tailwindcss";

body {
  width: 100%;
}

.border2 {
  border: 1px solid red;
}

/* Add to your globals.css */

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
